@import 'tailwindcss';

@source "../node_modules/flowbite/dist/flowbite.min.js";

@font-face {
  font-family: 'Freshman';
  src: url('../fonts/Freshman.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-freshman: 'Freshman', sans-serif;

  --color-jdporange: #e67e22;
  --color-jdpblue: #00255b;
  --color-yellowish: #fdc800;
}
